<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="logFileName" value="FileProcessorService.log"/>
    <add key="DirectoryPath" value="D:\git\DotNetMentoring\TaskWindowsServiceModule\TaskWindowsServiceModule\TaskWindowsServiceModule\bin\Debug\FilesToProcess" />
  </appSettings>
</configuration>