<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
      <add key="ServiceName" value="FirstImageService" />
      <add key="DirectoryName" value="JpegImagesFolder" />
      <add key="imageFileExtension" value=".jpg" />
      <add key="notLoadedImagesFolderName" value="NotLoadedImages" />
      <add key="centerQueueName" value=".\Private$\MyCentralQueue1" />
      <add key="multicastMessageQueueName" value=".\private$\MulticastTest4" />
      <add key="multicastAddress" value="234.1.1.1:8001" />
      <add key="sendCurrentStatusTimer" value="5000" />
    </appSettings>

    <log4net>
      <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
        <param name="File" value="ImageWatcher.log"/>
        <param name="AppendToFile" value="true"/>
        <maxSizeRollBackups value="10"/>
        <maximumFileSize value="5MB"/>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
        <layout type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%d  %-5p %m%n"/>
        </layout>
      </appender>
      <logger name="SimpleLogger">
        <appender-ref ref="LogFileAppender"/>
      </logger>
    </log4net>
</configuration>